// SASS

@font-face {
  font-family: 'States Medium';
  src: url('/font/StatesWeb-RoundedMedium.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  position: relative;
  padding: 1em;
}

.appContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .p5Canvas {
    object-fit: scale-down;
    box-shadow: 0 1em 10em 0 rgba(0, 0, 0, 0.2);
  }
}

#logo {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.1);

  .p5Canvas {
    width: 400px;
    height: 200px;
    margin-bottom: 1em;
  }
}

#logo-controls {
  width: 400px;
}

.logoCanvas {
  width: 200px;
  height: 200px;
}

canvas {
  display: block;
  flex-shrink: 0;
}